<div class="gallery">
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>{{allplaces.placeName | titlecase}}</mat-card-title>
      <mat-card-subtitle>{{allplaces.placeSubtype}}</mat-card-subtitle>

    </mat-card-header>

<div class="map-place">
  <div>
      <img mat-card-image src="{{allplaces.placeImageUrl}}" alt="{{allplaces.placeName}}">
  </div>
  <div>

    <mat-accordion>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon> location_on</mat-icon>

          </mat-panel-title>
          <mat-panel-description>
            View Click {{allplaces.placeName |titlecase}} Location Map
          </mat-panel-description>
        </mat-expansion-panel-header>

        <agm-map [latitude]='allplaces.placeLatitude' [longitude]='allplaces.placeLongitude'>
    <agm-marker [latitude]='allplaces.placeLatitude' [longitude]='allplaces.placeLongitude'></agm-marker>
    </agm-map>
    </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>

<mat-divider></mat-divider>
    <br/>
      {{allplaces.placeDescription}}
      <br>
<br><br><br><br>


    <mat-card-content>
      <br><br><br>
       <span matBadge=" {{allplaces.rating}}" matBadgeOverlap="false">Rating</span>
    <br><br>

    <section>
      <div class="wrap">
        <div class="inside">
          <span>{{allplaces.placePackage}}</span>
          <div class="tie-wrap">
            <div class="tie"></div>
          </div>
        </div>
        <div class="button">
          <div class="front">
            <span>Price</span>
          </div>
          <div class="back"></div>
        </div>
      </div>

    </section>

    <button class="booking" mat-raised-button color="accent"> Booking </button>
    </mat-card-content>

    <mat-card-actions>

      <button mat-raised-button color="primary" (click)="backList()">Back to List</button>
      <button mat-raised-button color="primary" (click)="viewNextPlace()">View Next Place</button>

    </mat-card-actions>
  </mat-card>
</div>

<link href='https://fonts.googleapis.com/css?family=Open+Sans|Maven+Pro:500' rel='stylesheet' type='text/css'>
<div class="weather">
  <div id="divWeatherMain">
    <div *ngIf="WeatherData.isDay" class="weatherWidgetRow">
      <i class="fas fa-3x fa-sun sun"></i>
    </div>
    <div *ngIf="!WeatherData.isDay" class="weatherWidgetRow">
      <i class="fas fa-3x fa-moon moon"></i>
    </div>
    <div class="weatherWidgetRow cloudDiv">
      <i class="fas fa-cloud fa-3x cloud"></i>
    </div>
    <div class="weatherWidgetRow" style="font-size: 32px;margin-top: 5px;">{{WeatherData.temp_celcius}}°</div>
    <div class="weatherWidgetRow" style="font-size: 12px;">{{WeatherData.main.temp_min}}° /
      {{WeatherData.main.temp_max}}°
    </div>
    <div class="weatherWidgetRow" style="font-size: 12px;">Feels Like: {{WeatherData.main.feels_like}}°</div>
    <div class="weatherWidgetRow" style="font-size: 25px;margin-top: 10px;">{{WeatherData.main.name}}</div>
    <div class="weatherWidgetRow" style="font-size: 12px;">Humidity: {{WeatherData.main.humidity}}%</div>
    <div class="weatherWidgetRow" style="font-size: 12px;">windSpeed: {{WeatherData.wind.speed}}%</div>

  </div>

</div>



