<app-header></app-header>

<div>
  <section class="site-title">
    <div class="site-background" data-aos="fade-up" data-aos-delay="100">
      <h2>TO TRAVEL IS TO LIVE</h2>
      <h4>You Don't Need Magic To Dissapear. All You Need Destinations.</h4>
    </div>
  </section>
</div>

<br><br>
<p>

  Special Offers
  Best Packages Where People Love To Stay..!

</p>
<br><br><br><br><br>


<div class="slider">
  <ng-image-slider [imagePopup]="true" [animationSpeed]="sliderAnimationSpeed"
    [imageSize]="{width: '250px', height: '250px'}" [images]="imageObject" [infinite]="sliderInfinite"
    #nav></ng-image-slider>
</div>

<br><br>
<p>

  Special Offers
  Best Packages Where People Love To Stay..!

</p>
<br><br><br><br><br>

<div class="slider">
  <ng-image-slider [imagePopup]="true" [animationSpeed]="sliderAnimationSpeed"
    [imageSize]="{width: '250px', height: '250px'}" [images]="imageObject" [infinite]="sliderInfinite" #nav>
  </ng-image-slider>
</div>
