
body {
  padding: 0;
  margin: 0;
}

h2 {
 font-family: 'Courier New',
 Courier,
 monospace;
 font-size: 3em;
 letter-spacing: 4px;
 font-weight: 500;
}

h4 {
   font-family: 'Courier New',
   Courier,
   monospace;
   font-size: 2em;
   letter-spacing: 4px;
   font-weight: 500;
}

p {
  font-family: 'Courier New', Courier, monospace;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
}

.slider1 {
  width: 1110px;
  height: 300px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 0;
}

.slider2 {
  width: 1000px;
  height: 250px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 0;
}

body {
  width: 100%;
  height: 100%;
}

.site-title {
  background: url('../../../assets/Background-image.png');
  background-size: cover;
  height: 110vh;
  display: flex;
  justify-content: center;
}

.site-title .site-background {
  padding-top: 6.5rem;
  text-align: center;
  color: var(--white);

}

.site-title h1,
h3 {
  margin: .3rem;

}


.example-card {
  max-width: 250px;
}

.card2 {
  max-width: 120%;
}


.hide {
  display: none;
}

.myDiv:hover .hide {
  display: inline-block;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #2196F3;
  padding: 10px;
  margin: 10px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
 /* font-size: 30px;*/
  margin: 10px;
  text-align: center;
}

.space {
  margin-left: 80%;
}

.btw {
  padding: 10px;
}
