<div class="fullscreen-bg">
  <video autoplay muted loop id="myVideo">
    <source src="../../../assets/bg.mp4" type="video/mp4">
  </video>
</div>
<div class="gallery">
  <mat-card class="card" *ngFor="let places of allplaces">
    <mat-card-header>
      <mat-card-title>{{places.placeName}}</mat-card-title>

    </mat-card-header>

    <img mat-card-image src="{{places.placeImageUrl}}" alt="MusicalInstrument">
    <mat-card-content>

    </mat-card-content>
    <mat-card-actions>
      <button mat-button color="accent" (click)="onClick(places.placeId)">View Details</button>
    </mat-card-actions>
  </mat-card>
</div>
