<app-header></app-header>
<mat-card>
  <br>
    <mat-card-header>
        <mat-card-title>Happy Customers..!</mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <video autoplay muted loop id="myVideo">
          <source src="../../../assets/landing1.mp4" type="video/mp4">
        </video>
    </mat-card-content>
<br><br>
<mat-card-header>
  <mat-card-title>Gallery..!</mat-card-title>
</mat-card-header>

    <mat-card-footer>
      <div class="container">
        <div class="image-gallery">
          <a class="img-1" href="../../assets/img/2 (1).jpg">
            <img src="../../assets/img/2 (1).jpg" class="swara">
          </a>

          <a class="img-2" href="../../assets/img/2 (2).jpg">
            <img src="../../assets/img/2 (2).jpg" class="swara">
          </a>

          <a class="img-3" href="../../assets/img/2 (3).jpg">
            <img src="../../assets/img/2 (3).jpg" class="swara">
          </a>

          <a class="img-4" href="../../assets/img/4.jpg">
            <img src="../../../assets/img/4.jpg" class="swara">
          </a>

          <a class="img-5" href="../../assets/img/3.jpg">
            <img src="../../assets/img/3.jpg" class="swara">
          </a>

          <a class="img-6" href="../../assets/img/2 (5).jpg">
            <img src="../../assets/img/2 (5).jpg" class="swara">
          </a>

          <a class="img-7" href="../../assets/img/2 (7).jpg">
            <img src="../../assets/img/2 (7).jpg" class="swara">
          </a>

          <a class="img-8" href="../../assets/img/2 (4).jpg">
            <img src="../../assets/img/2 (4).jpg" class="swara">
          </a>
        </div>
      </div>
    </mat-card-footer>
</mat-card>
<app-footer></app-footer>
