.center
{
 margin-top: 300px;
 background-color: #5851DB;
 color: white;
 border: 25px;
 margin-right: 580px;
 margin-left: 580px;
 padding: 5px;
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

