
  <!--<span class="logo"> <img src="../../../assets/5.gif" alt="">
    <a routerLink="/home"></a>
   </span>-->


<nav class="nav">
  <div class="nav-menu flex-row">

    <div>
      <ul class="nav-items">
        <li class="nav-link">
          <a routerLink="/home" routerLinkActive="active-link">HOME</a>
        </li>
        <li class="nav-link">
          <a routerLink='/trips' routerLinkActive="active-link">TRIPS</a>
        </li>
        <li class="nav-link">
          <a routerLink='/worldtrips' routerLinkActive="active-link">WORLD TRIPS</a>
        </li>
        <li class="nav-link">
          <a routerLink='/indiatrips' routerLinkActive="active-link">INDIA TRIPS</a>
        </li>
        <li class="nav-link">
          <a routerLink='/gallery' routerLinkActive="active-link">GALLERY</a>
        </li>
        <li class="nav-link">
          <a routerLink='/aboutus' routerLinkActive="active-link">ABOUT US</a>
        </li>
        <li class="nav-link">
          <a routerLink='/contactus' routerLinkActive="active-link">CONTACT US</a>
        </li>
        <li class="nav-link">
          <a (click)="singOut()" routerLinkActive="active-link">LOGOUT</a>
        </li>
      </ul>
    </div>

  </div>
</nav>


