
.active-link{
  background-color: rgb(7, 105, 100);
  padding-top: 24px;
  padding-bottom: 17px;
  padding-left: 10px;
  padding-right: 10px;
}

a {
  text-decoration: none;
  color: var(--text-gray);
  cursor: pointer;
}
ul {
  list-style-type: none;
}

.nav {
  background: white;
  padding: 0 2rem;
  height: 0rem;
  min-height: 10vh;
  overflow: hidden;
  transition: height 1s ease-in-out;
  display: flex;
  justify-content: center;
}

.nav .nav-menu {
  justify-content: space-between;
}

.nav .nav-items {
  display: flex;
  margin: 0;
}

.nav .nav-items .nav-link {
  padding: 1.6rem 1rem;
  font-size: 1.1rem;
  position: relative;
  font-family: var(--Abel);
  font-size: 1.1rem;
}

.nav .nav-items .nav-link:hover {
  /*background-color: var(--midnight);*/
  background-color: rgb(7, 105, 100);
}

.nav .nav-items .nav-link:hover a {
  color: var(--white);
}

.nav .nav-brand a {
  font-size: 1.6rem;
  padding: 1rem 0;
  display: block;
  font-family: var(--Lexend);
  font-size: 1.6rem;
}

