<app-header></app-header>

<mat-card>
    <mat-card-header>
        <mat-card-title>Pavan Ganesh Bhagathi</mat-card-title>
        <mat-card-subtitle>Prograd's Full Stack Developer</mat-card-subtitle>
    </mat-card-header>
    <img matCardImage src="../../../assets/pavan.png">
    <mat-card-content>
        Text content
    </mat-card-content>
  </mat-card>
  <!-- <mat-card>
    <mat-card-header>
      <mat-card-title>Yashasree Tummala</mat-card-title>
      <mat-card-subtitle>Prograd's Full Stack Developer</mat-card-subtitle>
    </mat-card-header>
    <img matCardImage src="../../../assets/yashasree.png">
    <mat-card-content>
      Text content
    </mat-card-content>
</mat-card> -->

<app-footer></app-footer>
