<!---

<div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
 <div id="gSignInWrapper">
  <span class="label">Sign in with:</span>
  <div id="customBtn" class="customGPlusSignIn">
    <span class="icon"></span>
    <span class="buttonText">Google</span>
  </div>
</div>

<div class="col s12 m6 offset-m3 center-align ">

      <div class="left">
          <img width="40px" style="margin-top:7px; margin-right:8px" alt="Google sign-in"
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
      </div>
      Login with Google

</div>
-->

<router-outlet></router-outlet>

