.maincontainer{
  display: flex;
  justify-content: flex-start;
  margin-top: 15px;
  margin-left: 5px;
}

.music-buttons{
  margin-left: 10px;
  margin-top: 80px;
  margin-bottom: 80px;
}

.music-outlet{

  margin-left: 60px;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

button:hover {
  color: rgb(0, 0, 0);
}

button{
  background-color: rgb(240, 158, 110);
  color: rgb(19, 38, 43);
   float: left;
   width: 150px;
   height: 40px;
   opacity: .8;
   line-height: 40px;
   text-align: center;
   font-size: 20px;
}

.cato{
  border-radius: 15%;
}
img {
  height: 25px;
  width: 25px;
}
