.maincontainer{
  display: flex;
  justify-content: flex-start;
  margin-top: 15px;
  margin-left: 5px;
}

.music-buttons{
  margin-left: 10px;
  margin-top: 80px;
  margin-bottom: 80px;
}

.music-outlet{

  margin-left: 60px;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

button:hover {
  color: rgb(68, 68, 68);
}


img {
  height: 25px;
  width: 25px;
}
