.star-rating-filled {
  fill: gold;
}

agm-map {
  height: 400px;
}

.star-rating-blank {
  fill: #696262;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mat-card:not([class*=mat-elevation-z]) {
  box-shadow: 0 1px 1px 0px rgb(150, 148, 148),
    0 1px 1px 0 rgb(150, 148, 148),
    0 1px 3px 0 rgb(150, 148, 148);
}

.card {
  max-width: 1000px;
  margin-top: 30px;
  margin-left: 180px;
  margin-right: 0px;
  margin-bottom: 30px;
  border-radius: 0px;
  height: 200px;
}

img {
  height: 500px;
}

section {
  display: table;
  margin: 8px;
}

.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  width: 120px;
}

.example-button-row {
  display: table-cell;
}

.example-button-row button {
  display: table-cell;
  margin-right: 8px;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  width: 480px;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}

.mat-form-field+.mat-form-field {
  margin-left: 8px;
}



a {
  cursor: pointer;
}

button {

  border-radius: 30px;
}

mat-raised-button {
  width: 120px;
}
.bg-transparent {
  background-color: transparent;
}

:host {
  height: 100%;
}

.photo {
  object-fit: contain;
}

.card {
  width: 20rem;
  margin: 0 auto;
}

